.brand {
  letter-spacing: 0.05rem;
  font-weight: bold;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.nav {
  background-image: linear-gradient(to right, darkcyan, royalblue);
}

.examImage {
  margin-right: 8px;
}

.logoContainer {
  display: flex;
  vertical-align: baseline;
}