.dashBoard {
  display: flex;
}

.examList {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selectExam {
  font-size: 1.25rem;
  padding: 0.5rem;
  font-weight: bold;
  width: 82%;
}