.dashBoard {
  display: flex;
}

.examList {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.selectExam {
  font-size: 1.25rem;
  padding: 0.5rem;
  font-weight: bold;
  width: 75%;
}

.examTitleCard {
  margin-bottom: 4px;
  border-radius: 10px;
  color: rgb(3, 110, 217);
}

.examTitleCard:hover {
  box-shadow: 10px 5px 5px lightgrey;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: lightgoldenrodyellow;
  cursor: pointer;
}

.examSearchInput {
  font-size: 1.25rem;
  padding: 0.3rem;
  width: 75%;
}