.sideQuestion {
  border: 1px solid lightgrey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  gap: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  box-shadow: 10px 5px 5px lightgrey;
}

.bigNumber {
  font-size: 2.5rem;
}

.choice {
  border: 1px solid lightgrey;
  box-shadow: 10px 5px 5px lightgrey;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.choice:hover {
  background-color: lightgoldenrodyellow;
}

span.correct {
  display: none;
}

.hide {
  display: none;
}